$font-head:  'Hind', sans-serif;
$font-body:  'Open Sans', sans-serif;

$navBlue-color: #1d508d;
$orange-color: #ffc83f;
$red-color: #fa5e56;
$softBlue-color:#8abee5;
$blueGreen-color: #47a899;

$black-color: #1b1d28;
